.navbar-nav {
  flex-direction: row;
  gap: 15px;
}

.color-error{
  color:red;
}

.container{
  width: 500px;
  margin-top: 125px;
  margin-bottom: 125px;
}

.btn-login{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.btn-register{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: 20px;
}

.btn-order{
  display: flex;
  justify-content: space-between;
}

.mask{
  background-color: rgba(251, 251, 251, 0.15)
}

.navbar-brand{
  display: flex;
  align-items: center;
  gap: 10px;
}

.square-lg{
  margin-left: 10PX;
  margin-right: 10PX;
}

.lead{
  display: flex;
  justify-content: center;
}


